BackendProject/.vs/*
BackendProject/.idea/workspace.xml
*.prefs
**/MacySprings/.gradle/*
**/MacySprings/node_modules/*
**/MacySprings/src/main/resources/static/dist/*
**/dist
**/.idea
**/.gradle

MacySprings/src/main/resources/static/dist/react-app.js
MacySprings/src/main/resources/static/dist/react-app.js.map
